{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wale.css' %}">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	{% if title %}
    <title>blogs page {{title}}</title>
    {% else %}
    <title>django blog </title>
    {% endif %}
    <title></title>
    </head>

  <body class="p-3 mb-2 bg-light ">
  <header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	<div class="container-fluid">
	<a class="navbar-brand mr-4" href="/">Primus-Dei Blog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	<div class="navbar-nav mr-auto">
		<!--<a class="nav-item nav-link" href="/">Primus</a> -->
	<a class="nav-item nav-link" href="/home">Discussion Room</a>
	<a class="nav-item nav-link" href="/about">About</a>
		<a class="nav-item nav-link" href="/prefects">Prefects</a>
        <a class="nav-item nav-link" href="/PrimuStudents">Our Students</a>
	</div>
	<!-- Navbar Right Side -->
	<div class="navbar-nav">
		{% if user.is_authenticated %}
		<a class="nav-item nav-link" href="{% url 'create-view' %}">New Post</a>
			<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
			<a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>
		{% else %}
			<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
			<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
		{% endif %}
	</div>
	</div>
	</div>
    </nav>
	</header>
  <main role="main" class="container-fluid">
	<main class="row">
	<div class="col-md-8">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}}">
					{{message}}
		</div>
			{% endfor %}
		{% endif %}
	{% block content %}{% endblock %}
	</div>
    </main>
	  <h2 class="prof  text-bold text-center"><i>OUR FORMER AND CURRENT PREFECTS</i></h2>
        <div class="container-fluid">
            <div class="row">
                <h2 class="prof  text-bold text-white text-center bg bg-secondary" ><i>2019 - 2020 Set</i></h2>
            <!--<div class="jumbotron"> -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/janet.jpg' %}" class="walter ml-1 mb-3 ">
                    <h4 class="text-left text-dark  ">Omovwiroro Janet</h4>
                   <p class="text-left text-muted "><strong>Head Girl</strong></p>
               </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                 <img src="{% static 'img/micah.jpg' %}" class="walter ml-1 mb-3 ">
                 <h4 class="text-left text-dark ">Micah Emmanuel</h4>
                <p class="text-left text-muted text-justify"><strong>Head Boy</strong></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                 <img src="{% static 'img/hannah.jpg' %}" class="sarah ml-1 mb-3" >
                 <h4 class="text-left text-dark pr-6">Olarenwaju Hannah</h4>
                <p class="text-left text-muted"><strong>Social Prefect</strong></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                 <img src="{% static 'img/precious.jpg' %}" class="william ml-1 mb-3">
                 <h4 class="text-left text-dark ">Alozie Precious</h4>
                <p class="text-left text-muted"><strong>Assembly Prefect</strong></p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/bushirah.jpg' %}" class="walter ml-1 mb-3 ">
                    <h4 class="text-left text-dark ">Aramide Bushirah</h4>
                   <p class="text-left text-muted"><strong>Health Prefect</strong></p>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{%static 'img/obianuba.jpg'%}" class="sarah ml-1 mb-3" >
                    <h4 class="text-left text-dark pr-6">Obianuba Emmanuel</h4>
                   <p class="text-left text-muted"><strong>Disciplinarian</strong></p>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{%static 'img/okolie.jpg'%}" class="william ml-1 mb-3">
                    <h4 class="text-left text-dark text-left ">Okolie Daniel</h4>
                   <p class="text-left text-muted"><strong>Sport Prefect</strong></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="{% static 'img/priscillia.jpg' %}" class="william ml-1 mb-3">
                <h4 class="text-left text-dark text-left ">Ezemagalu Priscillia</h4>
               <p class="text-left text-muted"><strong> Labour Prefect</strong></p>
               </div>
            <div class="container-fluid">
            <div class="row">
                <h2 class="prof  text-bold text-white text-center bg bg-secondary" ><i>2018 - 2019 Set</i></h2>
            <!--<div class="jumbotron"> -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/obi.jpg' %}" class="walter ml-1 mb-3 ">
                    <h4 class="text-left text-dark  ">Obi Mmesoma</h4>
                   <p class="text-left text-muted "><strong>Head Girl</strong></p>
               </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                 <img src="{% static 'img/idera.jpg' %}" class="walter ml-1 mb-3 ">
                 <h4 class="text-left text-dark ">Adekoya Ideraoluwa</h4>
                <p class="text-left text-muted text-justify"><strong>Head Girl</strong></p>
            </div>
        <div class="container-fluid">
            <div class="row">
                <h2 class="prof  text-bold text-white text-center bg bg-secondary" ><i>2017 - 2018 Set</i></h2>
            <!--<div class="jumbotron"> -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/martha.jpg' %}" class="walter ml-1 mb-3 ">
                    <h4 class="text-left text-dark  ">George Martha</h4>
                   <p class="text-left text-muted "><strong>Head Girl</strong></p>
               </div>
            </div>
        </div>
        </div>
			<hr class="my-4">
</div>

<h1 class="bg bg-success text-center text-white">PRIMUS DEI PREFECTS INFORMATION</h1>
<div class="row row-cols-3 row-cols-md-3 row-cols-lg-5 g-2">
    {% for prefect in prefects %}

  <div class="col">
    <div class="card" style="width:12rem;">
        <a href="{% url 'prefects_detail' prefect.pk %}"><img src="{{prefect.Picture.url}}" class="card-img-top account-img" alt="{{prefect.FirstName}}"></a>
      <div class="card-body">
        <h5 class="card-title">{{prefect.SurName}} {{prefect.FirstName}}</h5>
        <a class="btn btn-success btn-sm mt-1 mb-1" href ="{% url 'prefects_detail' prefect.pk %}">Prefect Info</a>
          <p class="btn btn-info btn-sm mt-1 mb-1">{{prefect.YearInducted|date:'M, Y'}}</p>
          <p class="btn btn-warning btn-sm mt-1 mb-1">{{prefect.Office}}</p>
          {% if user.is_authenticated and user.is_staff %}
          <div>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href ="{% url 'create-prefect' %}">Create Prefect</a>
		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-prefect' prefect.id %}">Update</a>
		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-prefect' prefect.id %}">Delete</a>
			</div>
          {% endif %}
			</div>
            </div>
        </div>


    {% endfor %}
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
<div class= "col-sm-6 col-md-6 col-lg-12">
<h2>connect</h2>
<div class=" social padding">
<a href="https://web.facebook.com/groups/606095810563153/" target="_blank"><img src ="{% static 'img/facebook.jpg' %}"></a>
<a href="#"><img src="{% static 'img/twitter.png' %}"></a>
<a href="https://ng.linkedin.com/in/jude-chinaha-1b95151b1" target="_blank"><img src="{% static 'img/linkedin1.png' %}"></a>
<a href="https://www.youtube.com/watch?v=B2RD7giVGsQ" target="_blank"><img src="{% static 'img/youtube.jpeg' %}"></a>
<a href="mailto:salaudeenridwan86@gmail.com" target="_blank"><img src="{% static 'img/gmail.jpg' %}"></a>
</div>
</div>
</div>
</div>

<br/>
<br/>
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Contact</h3>
          <p>
            <strong>Lagos, Nigeria</strong> <br>

            <strong>Phone: 07036538757, 09020671967</strong> <br>
            <strong>Email: primusdeicollege@gmail.com</strong> <br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/register">Register</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/prefects">Prefects</a></li>
               </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Address</h4>
         <strong><i>1, Alhaji Olarenwaju Street, beside tipper Garage, <br/>Akesan Lagos State.</i>
             </strong>
        </div>
          <br/>
          <br/>
          <div class="container-fluid padding">
<div class="row text-center padding">
<div class= "col-sm-6 col-md-6 col-lg-12">
<h5><strong><i>Designed by Mr Ridwan 07089699978 &copy; 2021</i></strong></h5>
</div>
</div>
          </div>
gh

<script src = "./js/jquery-3.5.1.min.js"></script>
<script src = "./js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

          <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->

  </body>
</html>